
<a href="{{data.url}}">
    <div class="small-popup-main">
        <div class="row align-items-center mb-2">
            <div class="col-5">
                <img src='{{data.image}}' class="img-fluid">
            </div>
            <div class="col-7">
                <p></p>
                <h6>{{data.name}} from {{data.place}} just bought {{data.productname}}</h6>
            </div>
        </div>
        <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star-half-stroke"></i>
        </div>
        <div class="down-arrow"></div>
    </div>
</a>
