.thank-you-main {
    margin-bottom: 50px;

    p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    a {
        background-color: #4564ab;
        color: white;
        padding: 15px 20px;
    }
}