.coupon-single {
    .extra {
        h1 {
            color: white;
        }

        p {
            color: white;
        }

        button {
            border: 2px solid white;
            border-radius: 30px;
            background-color: transparent;
        }
    }
}