

<div class="coupon-main pt-5">
    <div class="container">
        <div class="coupon-single">
            <div class="row">
                <div class="col-6 p-0">
                    <img src="./assets/images/refrencecode/one.jpeg" class="img-fluid">
                </div>
                <div class="col-6" style="display: flex; align-items: center; justify-content: center; background-color: #01b5d8; text-align: center; color: white;">
                    <div class="extra">
                        <h1>Keyboard and Mouse</h1>
                        <p>use refrrer code to get 5% discount</p>
                        <button class="btn btn-primary mt-2">Get Refrrer Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="coupon-main pt-5">
    <div class="container">
        <div class="coupon-single">
            <div class="row">
                <div class="col-6" style="display: flex; align-items: center; justify-content: center; background-color: #2e7c5c; text-align: center; color: white;">
                    <div class="extra">
                        <h1>Thinkline</h1>
                        <p>Share all the fall feels by treating someone you care about.</p>
                        <button class="btn btn-primary mt-2">Get Refrrer Code</button>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <img src="./assets/images/refrencecode/two.jpeg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="coupon-main pt-5">
    <div class="container">
        <div class="coupon-single">
            <div class="row">
                <div class="col-6 p-0">
                    <img src="./assets/images/refrencecode/three.jpg" class="img-fluid">
                </div>
                <div class="col-6" style="display: flex; align-items: center; justify-content: center; background-color: #e31c79; text-align: center; color: white;">
                    <div class="extra">
                        <h1>Give a pumpkiny present</h1>
                        <p>Share all the fall feels by treating someone you care about.</p>
                        <button class="btn btn-primary mt-2">Get Refrrer Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="coupon-main pt-5 pb-5">
    <div class="container">
        <div class="coupon-single">
            <div class="row">
                <div class="col-6" style="display: flex; align-items: center; justify-content: center; background-color: #76232f; text-align: center; color: white;">
                    <div class="extra">
                        <h1>Give a pumpkiny present</h1>
                        <p>Share all the fall feels by treating someone you care about.</p>
                        <button class="btn btn-primary mt-2">Get Refrrer Code</button>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <img src="./assets/images/refrencecode/four.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <molla-modal-dasic3></molla-modal-dasic3> -->
