
// home page main slider

.homeslider {
    .homeslider-main {
        min-height: 31vw;
        display: flex;
        align-items: center;
        padding-left: 10vw;
        color: white;

        .extra {

            h3 span {
                color: #df6616;
            }

            h3.smart {
                background-color: #2d406d;
                color: white;
                display: inline-block;
                transform: skew(.312rad);
                padding: 10px;
                font-size: 2.3vw;
                border-radius: 10px 0px;
            }

            h1 {
                font-size: 6vw;
                color: white;
            }

            p {
                letter-spacing: 3px;
                color: #d8d9da;
                max-width: 50%;
            }

            

            span {
                font-weight: 500;
            }
        }
    }

    .desktop-image {
        position: absolute;
        max-width: 25vw;
        top: 7vw;
        right: 21vw;
    }

    .discounttext {
        position: absolute;
        top: 15vw;
        left: 86%;
        font-size: 1.8vw;
        max-width: 110px;
        text-align: center;
        line-height: 2vw;
        font-weight: 600;
        transform: translatex(5%);

        span {
            font-size: 2.5vw;
            color: #df6616;
        }
    }

    .hdd {
        position: absolute;
        max-width: 14vw;
        top: 7vw;
        right: 11vw;
    }

    .motherboard {
        position: absolute;
        max-width: 14vw;
        top: 4vw;
        right: 9vw;
        min-width: 30vw;
    }

    .one {
        background-image: url('/assets/images/Geonix\ Hero\ GIF.gif');
        background-size: contain;
    }

    // .two {
    //     background-image: url('/assets/images/HDD\ BANNER.jpg');
    //     background-size: cover;
    // }

    // .three {
    //     background-image: url('/assets/images/MOTHERBOARD\ BANNER.jpg');
    //     background-size: cover;
    //     background-position: right;
    // }
}

// white button with black hover effect start

.shop-white-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    position: relative;
    overflow: hidden;
    color: transparent;
    background-color: white;

    span {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: black;
    }
}

.shop-white-btn:after {
    content: '';
    width: 0px;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s;
    // border-top-left-radius: 50%;
}

.shop-white-btn:hover::after {
    width: 100%;
    height: 100%;
}

.shop-white-btn:hover {
    background-color: white;

    span {
        color: white;
    }
}

// mobile size style starts here

@media screen and (max-width: 576px) {

    .homeslider {
        .homeslider-main {
            align-items: flex-start !important;
            padding-top: 6vw;
            min-height: 125vw;
            box-shadow: inset 0 700px #0000003d;            

            h3.smart {
                font-size: 4vw !important;
            }

            .desktop-image, .hdd, .motherboard {
                display: none;
            }

            .discounttext {
                top: 90vw;
                left: 4vw;
                font-size: 5vw;
                line-height: 6vw;

                span {
                    font-size: 6vw;
                }
            }
            
            .extra {
                p {
                    max-width: 80%;
                    color: white;
                }
            }

            .shop-white-btn {
                display: none;
            }
        }

        .one {
            background-image: url('/assets/images/Mobile\ GIF\ Geonix.gif');
            background-size: cover;
        }
    
        // .two {
        //     background-image: url('/assets/images/MOBILEBANNERMOTHERBOARD.jpg');
        //     background-size: cover;
        // }
    
        // .three {
        //     background-image: url('/assets/images/MOBILE\ BANNER\ HDD.jpg');
        //     background-size: cover;
        //     background-position: right;
        // }
    }
}
