
<div class="products-banner-home">
    <div class="container-fluid">
        <img src="/assets/images/home-image2.jpg" class="img-fluid">
        <!-- <div class="monitor">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>Gaming Monitors</h3>
                    <p><spna routerLink="/product/monitors/geonix-pc-monitor-22-inch-ips-pc-monitor">22-Inch Ips </spna> | <span routerLink="/product/monitors/pc-monitor-24-inch">24-Inch</span> | <span routerLink="/product/monitors/pc-monitor-22-inch">22-Inch</span> | <span>19.5-Inch</span> | <span>18.5-Inch</span> | <span>17-Inch</span></p>
                </div>
            </div>
        </div> -->
        <div class="monitor cabinet">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>Monitors</h3>
                    <p><spna routerLink="/product/monitors/geonix-pc-monitor-22-inch-ips-pc-monitor">G22-Inch Ips</spna> | <spna routerLink="/product/monitors/pc-monitor-24-inch">24 Inch</spna> | <spna routerLink="/product/monitors/pc-monitor-22-inch">22 Inch</spna> | <spna routerLink="/product/monitors/pc-monitor-19.5-inch">19.5 Inch</spna> | <spna routerLink="/product/monitors/pc-monitor-18.5-inch">18.5 Inch</spna> | <spna routerLink="/product/monitors/pc-monitor-17-inch">17 Inch</spna></p>
                </div>
            </div>
        </div>
        <div class="monitor motherboard">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>Motherboard</h3>
                    <p> Gx-h510 D4 | Gx-h310 D4 | Gx-h55 D3 | Gx-h110 D4 | Gxh81 D3 | Gx-h61 D3 | Gx-g41 D3 | Gx-g41 D2</p>
                </div>
            </div>
        </div>
        <div class="monitor hdd">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>HDD</h3>
                    <p> 320Gb | 10Tb | 8 Tb | 3 Tb | 6 Tb | 500 Gb | 4 Tb | 2 Tb | 1 Tb</p>
                </div>
            </div>
        </div>
        <div class="monitor ssd">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>SSD</h3>
                    <p> 1Tb | 512Gb  | 256Gb | 128Gb </p>
                </div>
            </div>
        </div>
        <div class="monitor ram">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>R.A.M</h3>
                    <p> 8Gb Ddr4- 2666Mhz- 16 Ic | 8Gb Ddr4- 2666Mhz- 8Ic | 4Gb Ddr4 2400T Mhz | 2Gb Ddr3 1333 Mhz </p>
                </div>
            </div>
        </div>
        <div class="monitor Keyboard-mouse">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
                <div class="main">
                    <h3>Keyboard and Mouse</h3>
                    <p>Combo-gxbk-01 Gxbm-01 | Gxwbk-01 Gxwbm-01</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="main-hover">
    <div class="close-btn">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="main-hover-text">
        <p>some text is here</p>
    </div>
</div> -->
