<div class="maindiv">
    <div class="row">
        <div class="col-sm-3">
            <div class="new-navbar">
                <img src="https://www.geonix.in/assets/images/geonix-logo.webp" class="img-fluid logo">
                <ul>
                    <li>Home</li>
                    <li>Shop </li>
                    <li>Categories </li>
                    <li>Bulk Orders</li>
                    <li>Become Parter</li>
                    <li>Service Centers</li>
                    <li>Check Warranty</li>
                </ul>
                <div class="socilamedia-icons">
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="banner">
                <owl-carousel [options]="customOptions2" carouselClasses="owl-simple carousel-equal-height carousel-with-shadow">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                    <img src="/assets/images/newhome/banner.png" class="img-fluid">
                </owl-carousel>
            </div>

            <div class="heading">
                <div class="container-fluid">
                    <p>Categories</p>
                    <h4>Our Categories</h4>
                </div>
            </div>
            
            <div class="categories">
                <div class="box">
                    <img src="/assets/images/newhome/category1.png" class="img-fluid">
                    <p>SSD</p>
                </div>
                <div class="box">
                    <img src="/assets/images/newhome/category2.png" class="img-fluid">
                    <p>Hard Drive</p>
                </div>
                <div class="box">
                    <img src="/assets/images/newhome/category3.png" class="img-fluid">
                    <p>Mother Board</p>
                </div>
                <div class="box">
                    <img src="/assets/images/newhome/category4.png" class="img-fluid">
                    <p>Keyboard & Mouse</p>
                </div>
                <div class="box">
                    <img src="/assets/images/newhome/category5.png" class="img-fluid">
                    <p>Monitor</p>
                </div>
            </div>

            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="/assets/images/newhome/aboutimage.png" class="img-fluid">
                        </div>
                        <div class="col-sm-6">
                            <div class="content">
                                <div class="heading">
                                    <div class="container-fluid">
                                        <p>Categories</p>
                                        <h4>Our Categories</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading">
                <div class="container-fluid">
                    <p>EXPO’s</p>
                    <h4>Our EXPO Events</h4>
                </div>
            </div>

            <div class="expo">
                <div class="container">
                    <img src="/assets/images/newhome/expo.png" class="img-fluid">
                </div>
            </div>

            <div class="heading">
                <div class="container-fluid">
                    <p>WHO IS ON OUR TEAM?</p>
                    <h4>Let’s meeeeeet ;)</h4>
                </div>
            </div>

            <div class="ourteam">
                <div class="container">
                    <owl-carousel [options]="customOptions" carouselClasses="owl-simple carousel-equal-height carousel-with-shadow">
                        <div class="one">
                            <img src="/assets/images/newhome/team/gaurav-sir.png" class="img-fluid">
                        </div>
                        <div class="two">
                            <img src="/assets/images/newhome/team/saurab-sir.jpg" class="img-fluid">
                        </div>
                        <div class="thee">
                            <img src="/assets/images/newhome/team/gaurav-sir.png" class="img-fluid">
                        </div>
                        <div class="four">
                            <img src="/assets/images/newhome/team/saurab-sir.jpg" class="img-fluid">
                        </div>
                    </owl-carousel>
                </div>
            </div>

            <div class="heading">
                <div class="container-fluid">
                    <p>INSTAGRAM POST</p>
                    <h4>How is our Insta feed looking today?</h4>
                </div>
            </div>

            <div class="insta">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
            </div>

        </div>
    </div>
</div>