<router-outlet></router-outlet>

<div class="mobile-menu-overlay" (click)="hideMobileMenu()"></div>

<molla-mobile-menu></molla-mobile-menu>

<div class="whatsappmenu">
    <img src="./assets/images/whatsapp.png" class="img-fluid">
    <ul>
        <li class="icon-one">
            <div>
                <a href="https://wa.me/918920896093"> 89208 96093
                <i class="fa-solid fa-arrow-left"></i> 
                For Sales Query
                <i class="fa-solid fa-mobile-screen-button"></i>  
                </a>
            </div>
        </li>
        <li class="icon-two">
            <div>
                <a href="https://wa.me/9310611766"> 9310611766
                <i class="fa-solid fa-arrow-left"></i>
                For Service Query
                <i class="fa-solid fa-mobile-screen-button"></i>
                </a> 
            </div>
        </li>
        <!-- <li class="icon-three">
            <div>
                <a href="https://wa.me/7011788604"> 7011788604</a>
                <i class="fa-solid fa-arrow-left"></i>
                For B2B sales query
                <i class="fa-solid fa-mobile-screen-button"></i> 
            </div>
        </li> -->
    </ul>
</div>

<!-- <div class="amazonlink">
    <a href="https://www.amazon.in/stores/page/497D8A9A-8622-43C4-99D4-D0A5A314EF6D" target="_blank">
        <img src="/assets/images/amazon-image.png" class="img-fluid">
    </a>
</div> -->

<button id="scroll-top" title="Back to Top" [ngClass]="{show: utilsService.isSticky}"
    (click)="utilsService.scrollTop($event)"><i class="icon-arrow-up"></i></button>

    

    
      

    