<div class="dropdown category-dropdown">

    <div class="dropmenu-main">
        <i class="fa-solid fa-bars-staggered"></i>
        <a href="javascript:;" class="dropdown-toggle" title="Browse Categories">
            Browse Categories
        </a>
    </div>

    <div class="dropdown-menu">
        <nav class="side-nav">
            <!-- <ul class="menu-vertical sf-arrows" *ngFor="let list of categoryList">
                <li class="item-lead" routerLinkActive="active">
                    <a [routerLink]="['shop/'+list.name+'/3cols/']"
                        [queryParams]="{category: list.id,'page':1}">{{list.name}}</a>
                </li>
            </ul> -->
            <ul class="menu-vertical sf-arrows">
                <li class="item-lead" routerLinkActive="active">
                    <a href="#">
                        <div>
                            <img src="/assets/images/icons/ram2.png" class="img-fluid">
                            RAM
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                        <div class="subcate">
                            <li>
                                <a routerLink="/shop/desktop-ram/3cols/" [queryParams]="{category: 1,'page':1}">
                                    Desktop RAM
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/laptop-ram/3cols/" [queryParams]="{category: 4,'page':1}">
                                    Laptop RAM
                                </a>
                            </li>
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a href="#">
                        <div>
                            <img src="/assets/images/icons/hdd.png" class="img-fluid">
                            HDD
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                        <div class="subcate">
                            <li>
                                <a routerLink="/shop/hdd/3cols/" [queryParams]="{category: 2,'page':1}">
                                    Desktop HDD
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/laptop-hdd/3cols/" [queryParams]="{category: 3,'page':1}">
                                    Laptop HDD
                                </a>
                            </li>
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a href="#">
                        <div>
                            <img src="/assets/images/icons/ssd.png" class="img-fluid">
                            SSD
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                        <div class="subcate">
                            <li>
                                <a routerLink="/shop/ssd-sata/3cols/" [queryParams]="{category: 6,'page':1}">
                                    SATA SSD
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/m-sata-ssd/3cols/" [queryParams]="{category: 16,'page':1}">
                                    M Sata SSD
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/m2-ssd/3cols/" [queryParams]="{category: 7,'page':1}">
                                    M.2 SSD
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/m2-breakable-ssd/3cols/" [queryParams]="{category: 14,'page':1}">
                                    M.2 Breakable SSD
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/nvme-ssd/3cols/" [queryParams]="{category: 8,'page':1}">
                                    NVMe SSD
                                </a>
                            </li>
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a href="#">
                        <div>
                            <img src="/assets/images/icons/external-link.png" class="img-fluid">
                            External
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                        <div class="subcate">
                            <li>
                                <a routerLink="/shop/riser-card/3cols/" [queryParams]="{category: 5,'page':1}">
                                    Riser Card
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/usb-adapter/3cols/" [queryParams]="{category: 10,'page':1}">
                                    Wifi USB Adapter
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/ssd-enclosure/3cols/" [queryParams]="{category: 18,'page':1}">
                                    SSD Enclosure
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/m2-external-ssd/3cols/" [queryParams]="{category: 19,'page':1}">
                                    External SSD M.2
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/nvme-extaernal-ssd/3cols/" [queryParams]="{category: 20,'page':1}">
                                    External SSD NVMe
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/sata-external-ssd/3cols/" [queryParams]="{category: 21,'page':1}">
                                    External SSD SATA
                                </a>
                            </li>
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a href="#">
                        <div>
                            <img src="/assets/images/icons/categories.png" class="img-fluid">
                            Others
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                        <div class="subcate">
                            <li>
                                <a routerLink="/shop/pci-card/3cols/" [queryParams]="{category: 17,'page':1}">
                                    PCI Cards
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/smps/3cols/" [queryParams]="{category: 22,'page':1}">
                                    SMPS
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop/printer-toner/3cols/" [queryParams]="{category: 15,'page':1}">
                                    Printer Toner
                                </a>
                            </li>
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/pc-monitor/3cols/" [queryParams]="{category: 11,'page':1}">
                        <div>
                            <img src="/assets/images/icons/monitor.png" class="img-fluid">
                            PC Monitors
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/graphic-card/3cols/" [queryParams]="{category: 12,'page':1}">
                        <div>
                            <img src="/assets/images/icons/gpu.png" class="img-fluid">
                            Graphic Card
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/motherboard/3cols/" [queryParams]="{category: 13,'page':1}">
                        <div>
                            <img src="/assets/images/icons/motherboard.png" class="img-fluid">
                            Motherboard
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/keyboard-and-mouse/3cols/" [queryParams]="{category: 23,'page':1}">
                        <div>
                            <img src="/assets/images/icons/keyboard-and-mouse.png" class="img-fluid">
                            Keyboard/Mouse
                        </div>
                    </a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/keyboard-and-mouse/3cols/" [queryParams]="{category: 24,'page':1}">
                        <div>
                            <img src="/assets/images/icons/phone-charger.png" class="img-fluid">
                            Laptop Adapters
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>