
<div class="service-centers-header">
    <div class="container text-center">
        <h2>Service Centers</h2>
        <p>Home / Service Centers</p>
    </div>
</div>

<div class="service-centers mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="./assets/images/service-centers.jpeg" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <!-- <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                one
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis eligendi, qui fugiat nisi sapiente sed illo voluptatibus atque veritatis eos cupiditate tempora asperiores rem facilis, aspernatur sit nam est. Ipsum?</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                two
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis eligendi, qui fugiat nisi sapiente sed illo voluptatibus atque veritatis eos cupiditate tempora asperiores rem facilis, aspernatur sit nam est. Ipsum?</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                three
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis eligendi, qui fugiat nisi sapiente sed illo voluptatibus atque veritatis eos cupiditate tempora asperiores rem facilis, aspernatur sit nam est. Ipsum?</p>
                    </mat-expansion-panel>
                </mat-accordion> -->
            </div>
        </div>
    </div>
</div>
