<div class="service-centers-header">
    <div class="container text-center">
        <h2>Service Centers</h2>
        <p>Home / Service Centers</p>
    </div>
</div>

<div class="service-centers mt-5 mb-5">
    <div class="container-fluid">
        <div class="row mx-5">
            <div class="col-sm-6">
                <div class="box-item">
                    <div class="flip-box">
                        <div class="flip-box-front text-center servicecenter">
                            <div class="inner color-white">
                                <!-- <div class="product-image">
                                    <img src="/asset/images/product_image/controller/2/controllerblue_default-transparent.png"
                                        class="img-fluid">
                                </div>
                                <h4 class="flip-box-header text-white">Controller</h4>
                                <p class="text-white">Unleash the Power of Perfect Synchronization: Experience Motor Match.
                                    Your Gateway to Uninterrupted Blissful Rides.</p> -->
                            </div>
                        </div>
                        <div class="flip-box-back text-center" style="background-image: linear-gradient(321deg,#24a4c5,#38b299 25%,#466bab 65.1%,#4665ac) !important">
                            <div class="inner color-white">
                                <h4 class="flip-box-header text-white mb-5">Find Nearest Geonix Service Centre</h4>
                                <!-- <p class="mb-4 text-white">Unleash the Power of Perfect Synchronization: Experience
                                    Motor Match. Your Gateway to Uninterrupted Blissful Rides.</p> -->
                                <a routerLink="/all-service-centers" class="red-btn">Click Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-item">
                    <div class="flip-box">
                        <div class="flip-box-front text-center contact">
                            <div class="inner color-white">
                                <!-- <div class="product-image">
                                    <img src="/asset/images/product_image/controller/2/controllerblue_default-transparent.png"
                                        class="img-fluid">
                                </div>
                                <h4 class="flip-box-header text-white">Controller</h4>
                                <p class="text-white">Unleash the Power of Perfect Synchronization: Experience Motor Match.
                                    Your Gateway to Uninterrupted Blissful Rides.</p> -->
                            </div>
                        </div>
                        <div class="flip-box-back text-center" style="background-image: linear-gradient(321deg,#24a4c5,#38b299 25%,#466bab 65.1%,#4665ac) !important">
                            <div class="inner color-white">
                                <h4 class="flip-box-header text-white">Online Customer Support</h4>
                                <h4 class="text-white mb-5">+91 7011794853"</h4>
                                <a href="tel: +91 7011794853" class="red-btn">Call Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>