<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul ngbNav #nav="ngbNav" class="nav nav-pills-mobile nav-border-anim">
            <li ngbNavItem>
                <a ngbNavLink>
                    CATEGORIES
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li>
                                <a class="drop-mobile-menu" (click)="submenuToggle($event)">
                                    <img src="/assets/images/icons/ram2.png" class="img-fluid">
                                    RAM
                                    <span class="mmenu-btn"></span>
                                </a>
                                <ul>
                                    <div class="row px-3 mb-2" >
                                        <div class="col-4 text-center" routerLink="/shop/desktop-ram/3cols/" [queryParams]="{category: 1,'page':1}">
                                                <div class="product-image-div">
                                                    <img src="/assets/images/pcategory/desktopram.png" class="img-fluid">
                                                </div>
                                                <p>Desktop RAM</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/laptop-ram/3cols/" [queryParams]="{category: 4,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/laptopram.png" class="img-fluid">
                                            </div>
                                            <p>Laptop RAM</p>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" (click)="submenuToggle($event)">
                                    <img src="/assets/images/icons/hdd.png" class="img-fluid">
                                    HDD
                                    <span class="mmenu-btn"></span>
                                </a>
                                <ul>
                                    <div class="row px-3 mb-2">
                                        <div class="col-4 text-center" routerLink="/shop/hdd/3cols/" [queryParams]="{category: 2,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/desktophdd.png" class="img-fluid">
                                            </div>
                                            <p>Desktop HDD</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/laptop-hdd/3cols/" [queryParams]="{category: 3,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/laptophdd.png" class="img-fluid">
                                            </div>
                                            <p>Laptop HDD</p>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" (click)="submenuToggle($event)">
                                    <img src="/assets/images/icons/ssd.png" class="img-fluid">
                                    SSD
                                    <span class="mmenu-btn"></span>
                                </a>
                                <ul>
                                    <div class="row px-3 mb-2">
                                        <div class="col-4 text-center" routerLink="/shop/ssd-sata/3cols/" [queryParams]="{category: 6,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/sata.png" class="img-fluid">
                                            </div>
                                            <p>SATA SSD</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/m-sata-ssd/3cols/" [queryParams]="{category: 16,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/M SATA.png" class="img-fluid">
                                            </div>
                                            <p>M SATA SSD</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/m2-ssd/3cols/" [queryParams]="{category: 7,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/m.2 ssd.png" class="img-fluid">
                                            </div>
                                            <p>M.2 SSD</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/m2-breakable-ssd/3cols/" [queryParams]="{category: 14,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/BREAKABLESSD.png" class="img-fluid">
                                            </div>
                                            <p>M.2 Breakable SSD</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/nvme-ssd/3cols/" [queryParams]="{category: 8,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/ssd nvme.png" class="img-fluid">
                                            </div>
                                            <p>NVMe SSD</p>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" (click)="submenuToggle($event)">
                                    <img src="/assets/images/icons/external-link.png" class="img-fluid">
                                    External
                                    <span class="mmenu-btn"></span>
                                </a>
                                <ul>
                                    <div class="row px-3 mb-2">
                                        <div class="col-4 text-center" routerLink="/shop/riser-card/3cols/" [queryParams]="{category: 5,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/RISER CARD PNG.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>Riser Card</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/usb-adapter/3cols/" [queryParams]="{category: 10,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/WIFI ADAPTER PNG.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>Wifi USB Adapter</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/ssd-enclosure/3cols/" [queryParams]="{category: 18,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/ecclouser.png" class="img-fluid">
                                            </div>
                                            <p>SSD Enclosure</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/m2-external-ssd/3cols/" [queryParams]="{category: 19,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/M.2 enclosure.png" class="img-fluid">
                                            </div>
                                            <p>External SSD M.2</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/nvme-extaernal-ssd/3cols/" [queryParams]="{category: 20,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/nvme menclosure.png" class="img-fluid">
                                            </div>
                                            <p>External SSD NVMe</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/sata-external-ssd/3cols/" [queryParams]="{category: 21,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/sata enclosure.png" class="img-fluid">
                                            </div>
                                            <p>External SSD SATA</p>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" (click)="submenuToggle($event)">
                                    <img src="/assets/images/icons/categories.png" class="img-fluid">
                                    Others
                                    <span class="mmenu-btn"></span>
                                </a>
                                <ul>
                                    <div class="row px-3 mb-2">
                                        <div class="col-4 text-center" routerLink="/shop/pci-card/3cols/" [queryParams]="{category: 17,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/pci.png" class="img-fluid">
                                            </div>
                                            <p>PCI Cards</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/smps/3cols/" [queryParams]="{category: 22,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/smps.png" class="img-fluid">
                                            </div>
                                            <p>SMPS</p>
                                        </div>
                                        <div class="col-4 text-center" routerLink="/shop/printer-toner/3cols/" [queryParams]="{category: 15,'page':1}">
                                            <div class="product-image-div">
                                                <img src="/assets/images/pcategory/2365 PRINTER.png" class="img-fluid">
                                            </div>
                                            <p>PRinter Toner</p>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/pc-monitor/3cols/" [queryParams]="{category: 11,'page':1}">
                                    <img src="/assets/images/icons/monitor.png" class="img-fluid">
                                    PC Monitors
                                </a>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/graphic-card/3cols/" [queryParams]="{category: 12,'page':1}">
                                    <img src="/assets/images/icons/gpu.png" class="img-fluid">
                                    Graphic card
                                </a>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/motherboard/3cols/" [queryParams]="{category: 13,'page':1}">
                                    <img src="/assets/images/icons/motherboard.png" class="img-fluid">
                                    Motherboard
                                </a>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/keyboard-and-mouse/3cols/" [queryParams]="{category: 23,'page':1}">
                                    <img src="/assets/images/icons/keyboard-and-mouse.png" class="img-fluid">Keyboard/Mouse
                                </a>
                            </li>
                        </ul>
                    </nav>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>
                    MENU
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li>
                                <a class="drop-mobile-menu" routerLink="/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/sidebar/3cols?category=3&page=1">
                                    products
                                </a>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/cart">
                                    View Cart
                                </a>
                            </li>
                            <li>
                                <a class="drop-mobile-menu" routerLink="/shop/wishlist">
                                    My Wishlist
                                </a>
                            </li>
                        </ul>
                    </nav>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

        <div class="social-icons">

            <share-buttons theme="circles-dark" [include]="['copy', 'facebook', 'telegram', 'twitter', 'whatsapp']"
                [showIcon]="true" [showText]="false" url={{this.liveurl}} description="Geonix Social Media"
                twitterAccount="Geonix" class="">
            </share-buttons>

        </div>
    </div>
</div>