<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul ngbNav #nav="ngbNav" class="nav nav-pills-mobile nav-border-anim">
            <li ngbNavItem>
              <a ngbNavLink>
                    Menu
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li>
                                <a routerLink="/">
                                    Home
                                    <span class="mmenu-btn" (click)="submenuToggle($event)"></span>
                                </a>
                                
                            </li>
                            <li *ngFor="let list of categoryList">
                                <a [routerLink]="['shop/sidebar/list/']" [queryParams]="{category: list.id,'page':1}" >
                                    {{list.name}}
                                    <span class="mmenu-btn" (click)="submenuToggle($event)"></span>
                                </a>
                                <ul>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/DESKTOP RAM/3cols/']"
                                            [queryParams]="{category: 1,'page':1}">DESKTOP RAM</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/HDD – Hard Disk Drive/3cols/']"
                                            [queryParams]="{category: 2,'page':1}">HDD</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Laptop HDD/3cols/']"
                                            [queryParams]="{category: 3,'page':1}">Laptop HDD</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Laptop RAM/3cols/']"
                                            [queryParams]="{category: 4,'page':1}">Laptop RAM</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Riser Card/3cols/']"
                                            [queryParams]="{category: 5,'page':1}">Riser Card</a>
                                    </li>
                                    
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Geonix SSD/3cols/']"
                                            [queryParams]="{category: 6,'page':1}">Geonix SSD</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/DESKTOP RAM/3cols/']"
                                            [queryParams]="{category: 1,'page':1}">DESKTOP RAM</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/SSD M.2/3cols/']"
                                            [queryParams]="{category: 7,'page':1}">SSD M.2</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Wifi USB Adapter/3cols/']"
                                            [queryParams]="{category: 9,'page':1}">Wifi USB Adapter</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/SSD NVMe/3cols/']"
                                            [queryParams]="{category: 10,'page':1}">SSD NVMe</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Monitors/3cols/']"
                                            [queryParams]="{category: 11,'page':1}">Monitors</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Graphic Card/3cols/']"
                                            [queryParams]="{category: 12,'page':1}">Graphic Card</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Motherboard/3cols/']"
                                            [queryParams]="{category: 13,'page':1}">Motherboard</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/SSD M.2 BREAKABLE/3cols/']"
                                            [queryParams]="{category: 14,'page':1}">SSD M.2 BREAKABLE</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/Printer Tonner/3cols/']"
                                            [queryParams]="{category: 15,'page':1}">Printer Tonner</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/M SATA/3cols/']"
                                            [queryParams]="{category: 16,'page':1}">M SATA</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/PCI CARDS/3cols/']"
                                            [queryParams]="{category: 17,'page':1}">PCI CARDS</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/SSD Enclosure/3cols/']"
                                            [queryParams]="{category: 18,'page':1}">SSD Enclosure</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/External SSD M.2/3cols/']"
                                            [queryParams]="{category: 19,'page':1}">External SSD M.2</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/PCI CARDS/3cols/']"
                                            [queryParams]="{category: 20,'page':1}">External SSD NVME</a>
                                    </li>
                                    <li class="item-lead" routerLinkActive="active">
                                        <a [routerLink]="['shop/External SSD SATA/3cols/']"
                                            [queryParams]="{category: 21,'page':1}">External SSD SATA</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>
                    Categories
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li  *ngFor="let list of categoryList" class="item-cats-lead"><a [routerLink]="['shop/sidebar/list/']" [queryParams]="{category: list.id,'page':1}">{{list.name}}</a></li>
                            
                        </ul>
                    </nav>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

        <div class="social-icons">
           
            <share-buttons theme="circles-dark"
            [include]="['copy', 'facebook', 'telegram', 'twitter', 'whatsapp']"
            [showIcon]="true"
            [showText]="false"
            url={{this.liveurl}}
            description="Geonix Social Media"
            twitterAccount="Geonix"
            class="">
          </share-buttons>

        </div>
    </div>
</div>