<header class="header header-intro-clearance header-3">

    <!-- <div class="header-top">
        <div [class]="containerClass">
            <div class="header-left">
                <a href="tel:#"><i class="icon-phone"></i>Call: +91 8920896230</a>
            </div>

            <div class="header-right">

                <ul class="top-menu">
                    <li>
                        <a href="javascript:;">Links</a>
                        <ul class="dropdown-links">
                            <div *ngIf="isTrue==false">
                                <li class="login"><a href="javascript:;" (click)="showLoginModal($event)">Sign in / Sign
                                        up</a></li>
                            </div>
                            <div *ngIf="isTrue==true">



                                <li class="login"><a href="javascript:;" (click)="onlogout()"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i>Sign out
                                    </a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="header-middle">
        <div [class]="containerClass">
            <div class="header-left">
                <molla-mobile-button></molla-mobile-button>

                <a routerLink="/" class="logo">
                    <img src="https://www.geonix.in/assets/images/geonix-logo.webp" alt="Molla Logo" width="105"
                        height="25">
                </a>
            </div>

            <molla-category-menu style="display: contents;"></molla-category-menu>

            <div class="header-center d-none d-lg-flex">
                <molla-header-search></molla-header-search>
            </div>

            <div class="header-right">
                <!-- <molla-compare-menu></molla-compare-menu> -->
                <div *ngIf="isTrue==true" class="account">
                    <a routerLink="/shop/dashboard" title="My account">
                        <div class="icon profile-icon">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="user_name">
                                <p>Hi User</p>
                            </div>
                        </div>
                        <!-- <p>Account</p> -->
                    </a>
                </div>
                <molla-wishlist-menu></molla-wishlist-menu>

                <molla-cart-menu></molla-cart-menu>
            </div>
            <div class="login-buttons">
                <ul class="top-menu">
                    <li>
                        <a href="javascript:;" class="pl-4">Links <i class="fa-solid fa-caret-down"></i></a>
                        <ul class="dropdown-links">
                            <div *ngIf="isTrue==false">
                                <li class="login">
                                    <a href="javascript:;" (click)="showLoginModal($event)">Login</a>
                                </li>
                            </div>
                            <div *ngIf="isTrue==true">
                                <li class="login"><a href="javascript:;" (click)="onlogout()"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i>Sign out
                                    </a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sticky-wrapper" [style.height]="utilsService.isSticky? utilsService.stickyHeight + 'px' : '' ">
        <div class="header-bottom sticky-header" [class.fixed]="utilsService.isSticky">
            <div [ngClass]="containerClass">

                <div class="header-center">
                    <!-- <molla-main-menu></molla-main-menu> -->
                    <ul class="newcat">
                        <li class="megamenu-main">Categories <i class="fa-solid fa-chevron-down"></i>
                            <div class="megamenu-child">
                                <div class="div-category">
                                    <div class="menu-cat-image" [routerLink]="['shop/desktop-ram/3cols/']"
                                        [queryParams]="{category: 1,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/desktopram.png" class="img-fluid">
                                            </div>
                                            <p>Desktop Ram</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/laptop-ram/3cols/']"
                                        [queryParams]="{category: 4,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/laptopram.png" class="img-fluid">
                                            </div>
                                            <p>Laptop Ram</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/desktop-hdd/3cols/']"
                                        [queryParams]="{category: 2,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/desktophdd.png" class="img-fluid">
                                            </div>
                                            <p>Desktop HDD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/laptop-hdd/3cols/']"
                                        [queryParams]="{category: 3,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/laptophdd.png" class="img-fluid">
                                            </div>
                                            <p>Laptop HDD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/sata/3cols/']"
                                        [queryParams]="{category: 6,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/sata.png" class="img-fluid">
                                            </div>
                                            <p>SATA SSD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/m-sata-ssd/3cols/']"
                                        [queryParams]="{category: 16,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/M SATA.png" class="img-fluid">
                                            </div>
                                            <p>M SATA SSD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/m2-ssd/3cols/']"
                                        [queryParams]="{category: 7,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/m.2 ssd.png" class="img-fluid">
                                            </div>
                                            <p>M.2 SSD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/m2-breakable-ssd/3cols/']"
                                        [queryParams]="{category: 14,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/BREAKABLESSD.png" class="img-fluid">
                                            </div>
                                            <p>M.2 BREAKABLE SSD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/nvme-ssd/3cols/']"
                                        [queryParams]="{category: 8,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/NVME SSD FRONT PNG.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>NVME SSD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/riser-card/3cols/']"
                                        [queryParams]="{category: 5,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/RISER CARD PNG.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>RISER CARD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/usb-adapter/3cols/']"
                                        [queryParams]="{category: 10,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/WIFI ADAPTER PNG.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>WIFI USB ADAPTER</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/ssd-enclosure/3cols/']"
                                        [queryParams]="{category: 18,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/ecclouser.png" class="img-fluid">
                                            </div>
                                            <p>SSD ENCLOSURE</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/pci-card/3cols/']"
                                        [queryParams]="{category: 17,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/pci.png" class="img-fluid">
                                            </div>
                                            <p>PCI CARDS</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/smps/3cols/']"
                                        [queryParams]="{category: 22,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/smps.png" class="img-fluid">
                                            </div>
                                            <p>SMPS</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/printer-toner/3cols/']"
                                        [queryParams]="{category: 15,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/2365 PRINTER.png" class="img-fluid">
                                            </div>
                                            <p>PRINTER TONER</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/pc-monitor/3cols/']"
                                        [queryParams]="{category: 11,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/pc monitor.png" class="img-fluid">
                                            </div>
                                            <p>PC MONITORS</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/graphic-card/3cols/']"
                                        [queryParams]="{category: 12,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/GRAPHIC CARD png.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>GRAPHIC CARD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/motherboard/3cols/']"
                                        [queryParams]="{category: 13,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/motherboard.png" class="img-fluid">
                                            </div>
                                            <p>MOTHERBOARD</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/keyboard-and-mouse/3cols/']"
                                        [queryParams]="{category: 23,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/keyboard-mouse.jpeg"
                                                    class="img-fluid">
                                            </div>
                                            <p>KEYRBOARD AND MOUSE</p>
                                        </div>
                                    </div>
                                    <div class="menu-cat-image" [routerLink]="['shop/keyboard-and-mouse/3cols/']"
                                        [queryParams]="{category: 24,'page':1}">
                                        <div class="extra">
                                            <div class="image">
                                                <img src="./assets/images/pcategory/laptop-adapter.png"
                                                    class="img-fluid">
                                            </div>
                                            <p>Laptop Adapters</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li [routerLink]="['shop/sidebar/3cols/']" [queryParams]="{category: 2,'page':1}">Shop</li>
                        <!-- <li routerLink='shop/sidebar/3cols/'>About</li> -->
                        <li routerLink='/service-centers'>Service Centers</li>
                        <li routerLink='/track-order'><i class="fa-solid fa-location-dot"></i> Track Order</li>
                        <!-- <li routerLink='/blogs'> Blogs </li> -->
                    </ul>
                </div>

                <!-- <div class="header-right">
                    <i class="icon-medapps"></i>
                    <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                </div> -->
            </div>
        </div>
    </div>
</header>