
.product-body {
    padding-bottom: 1.6rem !important;

    .product-cat {
        button.btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid;
            position: absolute;
            margin: auto;
            top: 5px;
            z-index: 2;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all 0.5s;
            font-weight: 600;

            img {
                max-width: 25px;
            }
        }
    }
}

.product.product-11.text-center.ng-star-inserted:hover button.btn {
    top: -60px;
    opacity: 1;
}

// .product-body:hover button.btn {
//     top: -16px;
//     opacity: 1;
// }