<div class="product product-11 text-center" *ngIf="product">
    <figure class="product-media">
        <span class="product-label label-circle label-new">New</span>


        <a [routerLink]="['/product/'+product.category.name+'/'+ product.productUrl]" *ngIf="product">
            <molla-image [src]="product['image']" alt="Product" class="product-image"
                *ngIf="product['productImage'][0]">
            </molla-image>
            <molla-image [src]="product['productImage'][1].url" alt="Product" class="product-image-hover"
                *ngIf="product['productImage'][1]"></molla-image>
        </a>

        <div class="product-action-vertical" *ngIf="product">
            <a href="javascript:;" class="btn-product-icon btn-wishlist btn-expandable"
                [class.added-to-wishlist]="isInWishlist()" (click)="addToWishlist($event)">
                <span>{{ isInWishlist() ? 'go' : 'add' }} to Wishlist</span>
            </a>
            <a href="javascript:;" class="btn-product-icon btn-quickview" title="Quick view"
                (click)="quickView(product.id)"><span>Quick view</span></a>
        </div>
    </figure>

    <div class="product-body">
        <div class="product-cat">
            <a [routerLink]="['/shop/sidebar/3cols/']" [queryParams]="{category: product.category.id,'page':1}">{{
                product['category']['name'] }}</a>
                <div class="select-options" *ngIf="product">
                    <button class="btn" [routerLink]="['/product/'+product.category.name+'/'+ product.name]" *ngIf="product.variants.length > 0 else cartBlock">
                        <img src="./assets/images/icons/add-to-basket.png" class="img-fluid">
                        Select Options
                    </button>
                </div>
                <ng-template #cartBlock>
                    <button class="btn-product btn-cart" (click)="addToCart($event)">
                        <span>add to cart</span>
                    </button>
                </ng-template>
        </div>

        <h3 class="product-title">
            <a [routerLink]="['/product/'+product.category.name+'/'+ product.productUrl]">{{ product.name }}</a>
        </h3>
        <div class="product-price">
            <span class="new-price">Rs. {{ product.defaultPrice }}</span>
            <span class="old-price" style="text-decoration: line-through; font-weight: 500;"> {{ product.mrp }}</span>
        </div>

    </div>

    <!-- <div class="product-action" *ngIf="product">
        <a [routerLink]="['/product/'+product.category.name+'/'+ product.name]" class="btn-product btn-cart btn-select"
            *ngIf="product.variants.length > 0 else cartBlock">
            <span style="color: white">select options</span>
        </a>
        <ng-template #cartBlock>
            <button class="btn-product btn-cart" (click)="addToCart($event)">
                <span>add to cart</span>
            </button>
        </ng-template>
    </div> -->
</div>