<div class="modalon-load">
	<ng-template #content let-modal>
			<div class="modal-body">
				<button type="button" class="btn-close" aria-label="Close"
				(click)="modal.dismiss('Cross click')">
				<i class="fa-solid fa-circle-xmark"></i></button>
				<div class="bodymain-div">
					<img src="assets/images/popup.jpeg" class="img-fluid">
				</div>
			</div>
	</ng-template>
	<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
	<!-- <hr /> -->
</div>