<div class="modalon-load">
	<ng-template #content let-modal>
		<div class="modal-body">
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<i class="fa-solid fa-circle-xmark"></i></button>
				<div class="row">
					<div class="col-sm-6">
						<div class="bodymain-div">
							<iframe src="https://valuetech.hk/wheel/wheel.html" height="600px" width="100%" style="border: none;"></iframe>
						</div>
					</div>
					<div class="col-sm-6 popup-background">
					</div>
				</div>
			<!-- <h1>{{newval}}</h1> -->
		</div>
	</ng-template>
	<!-- <button class="btn btn-lg btn-outline-primary d-none" (click)="open(content)">Launch demo modal</button> -->
	<!-- <hr /> -->
	<div id="chart"></div>
    <div id="question"><h1></h1></div>
</div>