

.modal-body {
    // background-image: linear-gradient(171deg, #27aae1, #002d64);
    padding: 0px;
    max-width: 75%;
    margin: auto;
    border-radius: 5px;

    button.btn-close {
        position: absolute;
        right: -7%;
        top: 5px;
        font-size: 30px;
        color: white;
        z-index: 111;
    }
    
    .bodymain-div {

        .subscribe-input {
            margin: 25px 0px;
            display: flex;
            width: 100%;

            button {
                background-color: #446ab2;
                color: white;
                padding: 15px;
                font-size: 18px;
            }

            input {
                width: 50%;
                padding: 10px;
                border: none;
            }
        }

        h2 {
            color: white;
        }

    .popuplogo-image {
        max-width: 20vw;
    }

    .oppupfirst-heading {
        font-size: 20px;
        color: white;
        margin: 15px 0px;
    }

    .popuplast-discription {
        color: rgb(240, 239, 239);
    }

    .oppupimage {
        cursor: pointer;
    }

    }
}

@media screen and (max-width: 576px) {

    // .modal-open .modal {
    //     display: none;
    // }

    .modal-body {
        padding: 5vw;
        max-width: 85%;

        .bodymain-div {    
            .oppupfirst-heading {
                font-size: 3vw;
            }

            h2 {
                font-size: 4vw;
            }
        }
        .subscribe-input {
            input {
                width: 100% !important;
                font-size: 3vw;
            }
            button {
                padding: 5px in !important;
                font-size: 3vw !important;
            }
        }
    }
}

// wheel style starts here

text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}
#chart{
    position:absolute;
    width:500px;
    height:500px;
    top:0;
    left:0;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
}
#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}