<div class="main-page">
    <div class="header">
        <img src="/assets/images/Desktop-Banner_1c827a23-da53-4c1c-9057-923e2e4ab59f_1440x.webp" class="img-fluid">
    </div>
    <div class="first-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>HDD (Hard Disk Drive)</h3>
                    <p>A computer hard disk drive (HDD) is a non-volatile data storage device, meaning that it retains data even when the power is turned off. HDDs are commonly used in desktop computers, mobile devices, consumer electronics, and enterprise storage arrays. They can store operating systems, software programs, and other files using magnetic disks.</p>
                    <p>HDDs work by spinning a platter coated in a magnetic material. The speed at which the platter spins is measured in revolutions per minute (RPM). The higher the RPM, the faster the HDD can read and write data.</p>
                    <p>HDDs are available in a variety of capacities, from a few gigabytes to several terabytes. The capacity of an HDD is determined by the number of platters it has and the density of the magnetic material on each platter.</p>
                    <button class="btn">Query Know</button>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="second-sec">

    </div>
</div>